* {
    box-sizing: border-box;
}
body {
    background: #ccc;
    font-size: 18px;
    line-height: 27px;
}
.wrapper {
    width: 1024px;
    margin: 40px auto;
    padding: 200px; 
}
#main-content,
#sidebar {
    width: 500px;
    padding: 30px;
}
#main-content {
    float: left;
    float: right;
    background: #eee;
}

@media (min-width: 780px){
    body {
        background-color: #333;
        font-size: 1.25rem;
    }
    
    .main-content {
        width: 100%;
        margin-top: 40px; 
    }
}
